
.footer {
  background-color:$color-footer;
  color: $color-white;
  padding-bottom: 20px;
  h2 {
        font-family: "shrikhand", cursive;
        font-size: larger;
        margin-top: 0px;
        padding: 20px;
    }
}
.footer__list{
    list-style: none;
    padding-left: 20px;
            li{
             margin-bottom: 10px;
            }     
}
