.footer {
  background-color: $color-footer;
  color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 20px;

  h2 {
    font-family: "shrikhand", cursive;
    font-size: larger;
    margin-top: 0px;
    padding-bottom: 15px;
  }
}
.footer__nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline-start: 0px;
  }
}
.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
