.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $color-font;
  padding: 40px 20px;
  margin-top: 20px;
  gap: 20px;
}
.card__img {
  height: 150px;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.card {
  background-color: $color-card;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 70px;

  &:hover {
    transition: all 200ms;
    transform: scale(1.02);
  }
}
.card__tag {
  background-color: $color-tertiary;
  padding: 10px;
  position: absolute;
  top: 10px;
  color: $color6;
  right: 10px;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card__body {
  position: absolute;

  h3,
  p {
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media (min-width: $media) {
  .card-container {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card {
    width: 45%;
  }
  .restaurants {
    margin: auto;
    margin-top: 10px;
    width: 62%;
  }
}
