#header__img {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.menu__title {
  font-family: "shrikhand", cursive;
  padding-bottom: 20px;
}
.menuliste__title {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  &::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: $color4;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
.menu__container {
  position: relative;
  margin-top: 250px;
  background-color: $color-font;
  border-radius: 30px 30px 0px 0px;
  padding: 40px 20px 60px;
  overflow: hidden;
}
.menuinfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color:$color-white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  animation: appear 1s;
  animation-fill-mode: both;
  cursor: pointer;
}
.menuinfo__prix {
  margin-left: auto;
  font-weight: 700;
  padding: 15px;
}
.menuliste {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  overflow: hidden;
}
.menu__button {
  display: flex;
  justify-content: center;
}
.menuinfo__div {
  padding: 15px;
  overflow: hidden;
  h4,
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.header__home {
  position: absolute;
  transform: translateY(40%);
  font-size: 20px;
  left: 20px;
  cursor: pointer;
}
@media screen and (min-width: $media1) {
  .submenus {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}
