@keyframes selection {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#header__img {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.menu__title {
  font-family: "shrikhand", cursive;
  padding-bottom: 20px;
}
.menuliste__title {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  &::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
.menu__container {
  position: relative;
  margin-top: 250px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 40px;
  overflow: hidden;
  cursor: pointer;
}
.menuinfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menuinfo__prix {
  margin-left: auto;
  font-weight: 700;
  padding: 15px;
}
.menuliste {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding-bottom: 40px;
  overflow: hidden;
}

.menu__container {
  padding-bottom: 20px;
}

.btn {
  text-align: center;
  padding-bottom: 40px;
}

.menuinfo__Selection {
  padding: 25px;
  margin-right: -66px;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  transition: margin-right 1s;
  transform: scale(1s);
  &:hover {
    margin-right: 0px;
  }

  i {
    animation: selection 0.5s ease-in-out;
  }

  i {
    background-color: white;
    border-radius: 20px;
    color: #99e2d0;
  }
}
.menuinfo__div {
  padding: 15px;
  overflow: hidden;
  h4,
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
 
}
.header__home {
  position: absolute;
  transform: translateY(60%);
  font-size: 1.2rem;
  left: 10px;
  cursor: pointer;
}
@media screen and (min-width: 600px){
  .submenus{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }}