.btn {
  background: linear-gradient(to bottom, $color5 0%,$colorSecondaire 100%);
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  box-shadow: 10px 10px 10px $color3;
  border-radius: 30px;
  cursor: pointer;
  transition: duration 200ms;
  border: none;
  align-items: center;
  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: $color-font;
  height: 100%;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation-duration: 3s;
  animation: fill 200ms 1.5s forwards;
  transform-origin: top;

  &::after {
    content: "";
    text-align: center;
    height: 100px;
    width: 100px;
    border-right: 10px solid $color-tertiary;
    border-left: 10px solid $color5;
    border-top: 10px solid $colorSecondaire;
    border-radius: 50%;
    animation: rotation 0.4s infinite linear;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes fill {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
