.card__btn{
  position:relative;
  left: 90%;
  bottom: -20px;
  cursor: pointer;
  font-size: 30px;
      i{
        position: absolute;
        cursor: pointer;
      } 
      i.hollow{
        color: transparent;
      }   
}
.card__btn:hover i.hollow{
    animation: remplissage 1000ms forwards;
    color: aquamarine;
}

@keyframes remplissage {
  from{
      transform: scale(0);
  }
  to{
      transform: scale(1);
  }
}