@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap";

@import url("https://fonts.googleapis.com/css2 ? 1 300;1 400;1 500;1 600;1 700;1 800;1 900 & display=swap");

* {
    margin:0px;
}
body{
    font-family: "Roboto", sans-serif;

}
main{
    padding:30px 0px 0px 0px;
}
a{
    text-decoration: none;
    color: inherit;
}