$color-tertiary:#99e2d0;
$color-font:#f6f6f6;
$color-card:#fff;
$media:900px;
$color-footer:#353535;
$color-white:white;
$color1:#eaeaea;
$color2:whitesmoke;
$color3:lightgrey;
$colorSecondaire:#9356dc;
$color4:#99e2d0;
$media1:600px;
$color5: #ff79da;

